@charset "UTF-8";

.form {
	padding-bottom: 120px;
}

.form input[type=text],
.form input[type=email],
.form input[type=tel] {
	width: 100%;
	background: #fff;
}

.form input[type=text].-short {
	max-width: 240px;
}

.form input[type=checkbox] {
	vertical-align: middle;
	margin-left: 0;
}

.form textarea {
	width: 100%;
	min-height: 15em;
	background: #fff;
}

.form_text {
}

.mw_wp_form_input .form_text.-confirm,
.mw_wp_form_confirm .form_text.-input {
	display: none;
}

.form_box {
	padding: 100px;
	margin-top: 60px;
	background: #F6F6F6;
}

.form_tbl {
	display: table;
	width: 100%;
	table-layout: fixed;
}

.form_tbl > dl {
	display: table-row;
}

.form_tbl > dl > dt,
.form_tbl > dl > dd {
	display: table-cell;
	vertical-align: middle;
	padding: 25px;
	border-bottom: 1px dashed #E5E5E5;
}

.form_tbl > dl > dt {
	font-size: 15px;
	width: 25%;
	font-family: 'Lora', 'A-OTF リュウミン Pr6N', 'リュウミン R-KL', 'Ryumin Regular KL', serif;
}

.form_tbl > dl > dt.-req:after {
	content: "必須";
	font-family: inital;
	font-size: 12px;
	margin-left: 10px;
	color: #FFF;
	padding: 0 10px;
	display: inline-block;
	border-radius: 4px;
	background: var(--main-color);
}

.mw_wp_form_confirm .form_tbl > dl > dt.-req:after {
	display: none;
}

.form_check {
	display: flex;
	flex-wrap: wrap;
	gap: 10px 40px;
}

.form_check label {
	cursor: pointer;
}

.form_caution {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 800px;
	background: #FFF;
	padding: 15px 20px;
	margin: 40px auto 0;
}

.mw_wp_form_confirm .form_caution {
	display: none;
}

.form_caution > dt {
}

.form_caution > dd {
	flex: 1;
	padding-left: 20px;
	margin-left: 20px;
	border-left: 1px solid #E5E5E5;
}

.form_agree {
	margin-top: 40px;
	text-align: center;
}

.mw_wp_form_confirm .form_agree {
	display: none;
}

.form_agree_text {
	max-width: 800px;
	margin: 0 auto;
	text-align: left;
}

.form_agree_text a {
	text-decoration: underline;
	color: #0E62C4;
}

.form_agree_text a:hover {
	text-decoration: none;
}

.form_agree_check {
	margin-top: 20px;
}

.form_agree_check label {
	cursor: pointer;
	display: inline-block;
	border-radius: 5px;
}

.form_select {
	font-family: 'Lora', 'A-OTF リュウミン Pr6N', 'リュウミン R-KL', 'Ryumin Regular KL', serif;
	position: relative;
	overflow: hidden;
	display: inline-block;
	min-width: 260px;
	background-color: #fff;
	border: 1px solid #BABABA;
	vertical-align: middle;
	line-height: 1.5;
	border-radius: 25px;
	transition: border .3s;
}

.mw_wp_form_confirm .form_select {
	border: none;
	cursor: inherit;
	background: none;
	font: inherit;
}

.form_select:hover {
	border-color: var(--hover-color);
}

.form_select:after {
	position: absolute;
	content: "";
	top: 50%;
	right: 12px;
	font-size: 16px;
	font-family: icomoon;
	content: "\e901";
	color: var(--main-color);
	line-height: 1;
	margin-top: -0.5em;
	transform: rotate(90deg);
}

.mw_wp_form_confirm .form_select:after {
	display: none;
}

.form_select:hover:after {
	animation: arrow-b 0.6s cubic-bezier(.25, .1, .25, 1) forwards;
}

.form_select select {
	font-family: inherit;
	appearance: none;
	position: relative;
	z-index: 2;
	display: block;
	width: 100%;
	margin: 0;
	padding: 15px 35px 15px 15px;
	background: transparent;
	border: 0;
	outline: none;
	font-size: 16px;
	line-height: 1;
	cursor: pointer;
}

.form_select.-category select {
}

.form_select.-archive select {
	padding-left: 4em;
}

.form_select select::-ms-expand {
	display: none;
}

.form_btn {
	margin-top: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
}

.form_btn > button {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	appearance: none;
	font-size: 15px;
	font-family: inherit;
	border: none;
	padding: 15px;
	line-height: 1.5;
	width: 100%;
	max-width: 380px;
	color: #FFF;
	background: #333;
	min-height: 64px;
	cursor: pointer;
	border: 2px solid #333;
	transition-property: background, color;
	transition-duration: .3s;
}

.form_btn > button:hover {
	background: #FFF;
	color: #333;
}

.form_btn > button:after {
	font-family: icomoon;
	content: "\e901";
	position: absolute;
	right: 15px;
	font-size: 15px;
	top: 50%;
	margin-top: -0.5em;
	line-height: 1;
}

.form_btn > button:hover:after {
	animation: arrow-r 0.6s cubic-bezier(.25, .1, .25, 1) forwards;
}

.form_btn > button.-back {
	background: #bbb;
	color: #333;
	border: 2px solid #bbb;
}

.form_btn > button.-back:hover {
	background: #ddd;
}

.form_btn > button.-back:hover:after {
	animation: arrow-rr 0.6s cubic-bezier(.25, .1, .25, 1) forwards;
}

.form_btn > button.-back:after {
	content: "\e900";
	position: absolute;
	right: auto;
	left: 15px;
}

.mw_wp_form_input .form_btn > button[name="submitBack"],
.mw_wp_form_input .form_btn > button[name="submit"],
.mw_wp_form_confirm .form_btn > button[name="submitConfirm"] {
	display: none;
}

@media screen and (max-width:1260px) {
}

@media screen and (min-width:768px) {
}

@media screen and (max-width:767px) {
	.form {
		padding-bottom: 50px;
	}

	.form input[type=text] {
	}

	.form input[type=text].-short {
	}

	.form input[type=checkbox] {
	}

	.form textarea {
	}

	.form_text {
	}

	.form_box {
		padding: 40px 20px;
		margin-top: 40px;
	}

	.form_tbl {
		display: block;
	}

	.form_tbl > dl {
		display: block;
		padding: 20px 0;
		border-bottom: 1px dashed #E5E5E5;
	}

	.form_tbl > dl > dt,
	.form_tbl > dl > dd {
		display: block;
		padding: 0;
		border-bottom: 0;
	}

	.form_tbl > dl > dt {
		width: 100%;
		margin-bottom: 10px;
	}

	.form_tbl > dl > dt.-req:after {
		font-size: 11px;
	}

	.form_check {
	}

	.form_check label {
	}

	.form_caution {
		display: block;
	}

	.form_caution > dt {
		text-align: center;
	}

	.form_caution > dd {
		padding-left: 0;
		border-left: none;
		margin-left: 0;
		border-top: 1px solid #e5e5e5;
		padding-top: 10px;
		margin-top: 10px;
	}

	.form_agree {
	}

	.form_agree_text {
	}

	.form_agree_text a {
	}

	.form_agree_text a:hover {
	}

	.form_agree_check {
	}

	.form_agree_check label {
	}

	.form_select {
	}

	.form_select:hover {
	}

	.form_select:after {
	}

	.form_select:hover:after {
	}

	.form_select select {
	}

	.form_select.-category select {
	}

	.form_select.-archive select {
	}

	.form_select select::-ms-expand {
	}

	.form_btn {
		margin-top: 40px;
	}

	.form_btn > button {
	}

	.form_btn > button:hover {
	}

	.form_btn > button:after {
	}

	.form_btn > button:hover:after {
	}

	.form_btn > button.-back {
	}

	.form_btn > button.-back:hover {
	}

	.form_btn > button.-back:hover:after {
	}

	.form_btn > button.-back:after {
	}

}
