@charset "UTF-8";

.cmnhd {
	position: absolute;
	top: 150px;
	width: 100%;
	z-index: 10;
}

.intro {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 80px;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.intro_img {
	margin-left: -100px;
}

.intro_cnt {
	flex: 1;
}

.intro_en {
	font-size: 14px;
	color: #0E62C4;
}

.intro_catch {
	margin-top: 25px;
	font-size: 26px;
	line-height: 1.5;
}

.intro_name {
	margin-top: 25px;
}

.intro_name span {
	margin-right: 0.5em;
}

.intro_name em {
	margin-left: 0.5em;
	font-size: 20px;
}

.interview {
	padding-bottom: 140px;
}

.interview_sec {
	position: relative;
	margin-top: 120px;
}

.interview_cnt {
	max-width: 600px;
}

.interview_ttl {
	font-size: 14px;
	color: #0E62C4;
}

.interview_catch {
	margin-top: 20px;
	font-size: 25px;
	line-height: 1.5;
}

.interview_text {
}

.interview_catch + .interview_text {
	margin-top: 25px;
}

.interview_img {
}

.interview_sec.-reason .interview_img {
	position: absolute;
	right: 0;
	top: 0;
}

.interview_sec.-job .interview_img {
	margin-top: 120px;
}

.interview_reward {
	display: flex;
	gap: 60px;
}

.interview_reward_hd {
	white-space: nowrap;
}

.interview_reward_body {
}

.schedule {
	background-image: url("../img/cmn/img-bg-wood@2x.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #FFF;
	padding: 80px 0 120px;
}

.schedule_wrap {
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.schedule_cnt {
}

.schedule_en {
	font-size: 37px;
	line-height: 1.25;
}

.schedule_ttl {
	margin-top: 5px;
}

.schedule_nav {
	display: flex;
	gap: 20px;
	align-items: center;
}

.schedule_progress {
	position: relative;
	display: inline-block;
	height: 1px;
	width: 360px;
	background: #FFF;
}

.schedule_progress span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background: #0E62C4;
	width: 0%;
}

.schedule_arrow {
	white-space: nowrap;
}

.schedule_arrow > button {
	background: none;
	appearance: none;
	cursor: pointer;
	border: none;
}

.schedule_tt {
	margin-top: 40px;
	overflow-x: scroll;
	overflow-y: hidden;
}

.schedule_tt::-webkit-scrollbar {
	display: none;
}

.schedule_tt_wrap {
	display: flex;
	align-items: center;
	padding-left: calc(50vw - 500px);
	width: fit-content;
}

.schedule_tt_hour {
}

.schedule_tt_hour > dt {
	display: flex;
	align-items: center;
	font-size: 16px;
	font-family: 'Lora', 'A-OTF リュウミン Pr6N', 'リュウミン R-KL', 'Ryumin Regular KL', serif;
}

.schedule_tt_hour:last-child > dt:after {
	content: "goal";
	color: #0E62C4;
	padding-right: 40px;
}

.schedule_tt_hour > dt span {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	position: relative;
	padding-left: 15px;
}

.schedule_tt_hour > dt span:before {
	background: #0E62C4;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -4px;
}

.schedule_tt_hour > dt span:after {
	height: 1px;
	width: 100%;
	content: "";
	display: block;
	background: #FFF;
	flex: 1;
	margin: 0 10px;
}

.schedule_tt_hour > dd {
	margin-top: 10px;
}

.schedule_tt_list {
	display: flex;
}

.schedule_tt_list > li {
	margin-right: 40px;
	background: #FFF;
	color: #333;
	padding: 10px 20px;
	min-width: 280px;
	white-space: nowrap;
	min-height: 77px;
	display: flex;
	align-items: center;
	line-height: 1.5;
	border-radius: 12px;
}

.message {
	position: relative;
	color: #FFF;
	padding: 160px 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.-interview01 .message {
	background-image: url("../img/recruit/interview01/img-message@2x.jpg");
	background-position: top;
}

.-interview02 .message {
	background-image: url("../img/recruit/interview02/img-message@2x.jpg");
}

.-interview03 .message {
	background-image: url("../img/recruit/interview03/img-message@2x.jpg");
}

.-interview04 .message {
	background-image: url("../img/recruit/interview04/img-message@2x.jpg");
}

.-interview05 .message {
	background-image: url("../img/recruit/interview05/img-message@2x.jpg");
	background-position: top;
}

.message:after {
	content: "";
	display: block;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.message_wrap {
	display: flex;
}

.message_cnt {
	position: relative;
	z-index: 10;
	max-width: 460px;
}

.message_cnt.-right {
	margin-left: auto;
}

.message_hd {
}

.message_ttl {
}

.message_catch {
	font-size: 25px;
	line-height: 1.5;
	margin-top: 20px;
}

.message_text {
	margin-top: 25px;
}

.other {
	padding: 120px 0;
	overflow: hidden;
}

.other_hd {
	padding-left: 100px;
	display: flex;
	justify-content: space-between;
}

.other_hd_ttl {
	font-size: 37px;
}

.other_hd_cnt {
	display: flex;
	gap: 40px;
	align-items: center;
}

.other_hd_arrow {
	display: flex;
	gap: 20px;
}

.other_hd_arrow button {
	background: none;
	padding: 0;
	margin: 0;
	border: none;
	cursor: pointer;
}

.other_hd_arrow button i {
	border-color: #333;
}

.other_hd_btn {
}

.other_hd_btn a {
	border-color: #333;
}

.other_slide {
	margin-top: 70px;
	padding-left: 100px;
	margin-right: -70px;
}

.other_slide_list {
}

.other_slide_list .slick-list {
	overflow: visible;
	text-align: center;
}

.other_slide_item {
	display: inline-block;
	vertical-align: middle;
	transform-origin: top;
	max-width: 337px;
}

.slick-current .other_slide_item,
.is-active-next .other_slide_item {
}

.other_slide_item_wrap {
	position: relative;
	line-height: 1;
	overflow: hidden;
}

.other_slide_item_wrap img {
	transition: transform 1s;
}

.other_slide_item:hover .other_slide_item_wrap img {
	transform: scale(1.1);
}

.other_slide_item_wrap figcaption {
	position: absolute;
	left: -1px;
	bottom: -1px;
	padding: 20px 20px 1px 1px;
	width: 100%;
	max-width: 200px;
	background: #FFF;
	text-align: left;
}

.other_slide_item_name {
}

.other_slide_item_name > dt {
}

.other_slide_item_name > dd {
	margin-top: 10px;
	font-size: 38px;
}

@media screen and (max-width:1260px) {
	.cmnhd {
		top: 100px;
	}

	.intro {
		gap: 40px;
	}

	.intro_cnt {
		padding-right: 40px;
	}

	.intro_img {
		max-width: 45%;
		flex-shrink: 0;
	}

	.interview_cnt {
		max-width: 100%;
	}

	.interview_sec.-reason .interview_img {
		position: static;
		text-align: center;
		margin-top: 40px;
	}

	.intro_img img,
	.interview_img img {
		max-width: 100%;
		height: auto;
	}

	.other_hd {
		padding-left: 0;
	}

	.other_slide {
		padding-left: 0;
	}

	.other_slide_item_wrap img {
		max-width: 100%;
		height: auto;
	}

	.schedule {
		padding: 80px 24px;
	}

	.schedule_wrap {
		padding-left: 0;
	}

}

@media screen and (min-width:768px) {
}

@media screen and (max-width:767px) {
	.cmnhd {
		position: static;
	}

	.intro {
		flex-direction: column;
		gap: 40px;
	}

	.intro_img {
		margin-left: 0;		/* padding-right: 20px; */
	}

	.intro_img img {
		max-width: 100%;
		height: auto;
	}

	.intro_cnt {
		padding: 0 20px;
		width: 100%;
	}

	.intro_en {
	}

	.intro_catch {
	}

	.intro_name {
	}

	.intro_name span {
	}

	.intro_name em {
	}

	.interview {
		padding-bottom: 50px;
	}

	.interview_sec {
		margin-top: 60px;
	}

	.interview_cnt {
	}

	.interview_ttl {
	}

	.interview_catch {
		margin-top: 5px;
		font-size: 22px;
	}

	.interview_text {
	}

	.interview_catch + .interview_text {
		margin-top: 16px;
	}

	.interview_img {
	}

	.interview_img img {
		max-width: 100%;
		height: auto;
	}

	.interview_sec.-reason .interview_img {
		position: static;
		margin-right: -20px;
		margin-top: 40px;
		padding-left: 20px;
	}

	.interview_sec.-job .interview_img {
		margin-top: 50px;
	}

	.interview_reward {
		display: block;
	}

	.interview_reward_hd {
	}

	.interview_reward_body {
		margin-top: 20px;
	}

	.schedule {
		padding: 40px 20px 50px;
	}

	.schedule_wrap {
		display: block;
		padding-left: 20px;
	}

	.schedule_cnt {
	}

	.schedule_en {
	}

	.schedule_ttl {
	}

	.schedule_nav {
		display: none;
	}

	.schedule_progress {
	}

	.schedule_progress span {
	}

	.schedule_arrow {
	}

	.schedule_arrow > button {
	}

	.schedule_tt {
		margin-top: 20px;
		overflow: hidden;
	}

	.schedule_tt::-webkit-scrollbar {
	}

	.schedule_tt_wrap {
		display: block;
		padding-left: 0;
		width: 100%;
	}

	.schedule_tt_wrap:after {
		content: "goal";
		color: #0E62C4;
		padding-right: 40px;
	}

	.schedule_tt_hour {
	}

	.schedule_tt_hour > dt {
	}

	.schedule_tt_hour:last-child > dt:after {
		display: none;
	}

	.schedule_tt_hour > dt span {
	}

	.schedule_tt_hour > dt span:before {
	}

	.schedule_tt_hour > dt span:after {
		display: none;
	}

	.schedule_tt_hour > dd {
		margin-top: 0;
		border-left: 1px solid #fff;
		padding-left: 10px;
		margin-left: 4px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.schedule_tt_list {
		flex-direction: column;
		gap: 15px;
	}

	.schedule_tt_list > li {
		margin-right: 0;
		white-space: normal;
		min-width: 0;
		min-height: 0;
	}

	.message {
		padding: 0px;
		border-bottom: 1px solid #bababa;
		background: none !important;
	}

	.message .inner {
		padding: 0;
	}

	.-interview01 .message {
	}

	.-interview02 .message {
	}

	.-interview03 .message {
	}

	.-interview04 .message {
	}

	.-interview05 .message {
	}

	.message:after {
		display: none;
	}

	.message_wrap {
		display: block;
	}

	.message_cnt {
		max-width: 100%;
		width: 100%;
	}

	.message_hd {
		position: relative;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		padding: 180px 30px 30px;
	}

	.message_hd:before {
		content: "";
		display: block;
		background: rgba(0, 0, 0, 0.5);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
	}

	.-interview01 .message_hd {
		background-image: url("../img/recruit/interview01/img-message@2x.jpg");
	}

	.-interview02 .message_hd {
		background-image: url("../img/recruit/interview02/img-message@2x.jpg");
	}

	.-interview03 .message_hd {
		background-image: url("../img/recruit/interview03/img-message@2x.jpg");
	}

	.-interview04 .message_hd {
		background-image: url("../img/recruit/interview04/img-message@2x.jpg");
	}

	.-interview05 .message_hd {
		background-image: url("../img/recruit/interview05/img-message@2x.jpg");
	}

	.message_ttl {
		position: relative;
		z-index: 1;
	}

	.message_catch {
		margin-top: 15px;
		position: relative;
		z-index: 1;
	}

	.message_text {
		margin-top: 0;
		background: #FFF;
		padding: 40px 20px;
		color: #333;
	}

	.other {
		padding: 60px 0;
	}

	.other_hd {
		padding-left: 0;
		display: block;
	}

	.other_hd_ttl {
		font-size: 25px;
		text-align: center;
	}

	.other_hd_cnt {
		justify-content: space-between;
		margin-top: 20px;
		gap: 0;
	}

	.other_hd_arrow {
	}

	.other_hd_arrow button {
	}

	.other_hd_arrow button i {
	}

	.other_hd_btn {
	}

	.other_hd_btn a {
	}

	.other_slide {
		padding-left: 0;
		margin-top: 40px;
		margin-right: 0;
		padding: 0 15%;
	}

	.other_slide_list {
	}

	.other_slide_list .slick-list {
	}

	.other_slide_item {
		transform: scale(0.75);
		transform-origin: center;
		transition: transform .4s;
	}

	.slick-current .other_slide_item,
	.is-active-next .other_slide_item {
		transform: scale(1);
	}

	.other_slide_item_wrap {
	}

	.other_slide_item_wrap img {
		max-width: 100%;
		height: auto;
	}

	.other_slide_item:hover .other_slide_item_wrap img {
	}

	.other_slide_item_wrap figcaption {
		padding: 20px 20px 0 0;
		max-width: 200px;
	}

	.other_slide_item_name {
	}

	.other_slide_item_name > dt {
		font-size: 16px;
	}

	.other_slide_item_name > dd {
		font-size: 25px;
	}

}
