@charset "UTF-8";

.job {
	padding-bottom: 120px;
}

.job_list {
	display: flex;
	flex-wrap: wrap;
	gap: 25px 2%;
}

.job_item {
	display: block;
	background: #F6F6F6;
	width: 49%;
	padding: 25px 20px;
	transition: box-shadow .3s;
}

.job_item:hover {
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.job_item_wrap {
}

.job_item_hd {
	width: 100%;
	padding-bottom: 20px;
	border-bottom: 1px solid #BABABA;
}

.job_item_hd_info {
}

.job_item_hd_info span {
	display: inline-block;
	color: #FFF;
	min-width: 110px;
	padding: 0 15px;
	text-align: center;
	background: var(--main-color);
}

.job_item_hd_ttl {
	margin-top: 15px;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.5;
	font-feature-settings: "palt";
}

.job_item_hd_ttl span {
	padding-bottom: .3em;
	background: linear-gradient(#333, #333) 0 100%/0 2px no-repeat;
	transition: background .3s;
}

.job_item:hover .job_item_hd_ttl span {
	background-size: 100% 2px;
}

.job_item_cnt {
	margin-top: 20px;
}

.job_item_tbl {
	display: table;
	width: 100%;
}

.job_item_tbl > dl {
	display: table-row;
}

.job_item_tbl > dl > dt,
.job_item_tbl > dl > dd {
	display: table-cell;
	vertical-align: top;
}

.job_item_tbl > dl > dt {
	color: #0E62C4;
	width: 6em;
}

.job_item_tbl > dl > dd {
}

@media screen and (max-width:1260px) {
}

@media screen and (min-width:768px) {
}

@media screen and (max-width:767px) {
	.job {
		padding-bottom: 50px;
	}

	.job_list {
	}

	.job_item {
		width: 100%;
	}

	.job_item:hover {
	}

	.job_item_wrap {
	}

	.job_item_hd {
		padding-bottom: 15px;
	}

	.job_item_hd_info {
	}

	.job_item_hd_info span {
		font-size: 12px;
		min-width: 80px;
	}

	.job_item_hd_ttl {
		margin-top: 10px;
	}

	.job_item_hd_ttl span {
	}

	.job_item:hover .job_item_hd_ttl span {
	}

	.job_item_cnt {
		margin-top: 15px;
	}

	.job_item_tbl {
	}

	.job_item_tbl > dl {
	}

	.job_item_tbl > dl > dt,
	.job_item_tbl > dl > dd {
	}

	.job_item_tbl > dl > dt {
	}

	.job_item_tbl > dl > dd {
	}

}
